@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgba: 34,193,195,1;
  --background-end-rgba: 105,73,166,1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body { 
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      circle,
      rgba(var(--background-start-rgba)) 0%,
      rgba(var(--background-end-rgba)) 100%
    );
}

.comicDots {
  background: url('/half-tone-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  background: url('/banner.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}
